<!DOCTYPE html>
    <html>
        <head>
            <title>Analyse text</title>
            <link rel="stylesheet" href=" {{ url_for('static', path='style_analyse_text.css') }} ">
        </head>
        <body>
        <h3> Заголовок </h3>
            <p> {{ title }} </p>
        <h3> Дата </h3>
            <p> {{ date }} </p>
        <h3> url-ссылка </h3>
            <p>
                <a href="{{ url }}" target="_blank"> {{ url }} </a>
            </p>
        <h3> Текст новости </h3>
            <p> {{ text }} </p>
        <p class="aligncenter">
            <img src="data:image/png;base64, {{wcloud}}" width=640px height=480px>
            <img src="data:image/png;base64, {{picture}}" width=640px height=480px>
        </p>
        </body>
    </html>

