<!DOCTYPE html>
    <html>
        <head>
            <title>Main page!</title>
            <link rel="stylesheet" href="{{ url_for('static', path='main_page.css') }} ">
        </head>
        <body>
            <h1>
                Анализ внутренней структуры текстов новостей <br>
                и тематическое моделирование
            </h1>
            <div>
                <a href="/upload_file"> перейти к загрузке файла </a>
            </div>
            <p class="textstyle">
                Сайт предназначен для тематического моделирования. На основе загруженного текста модель предскажет,
                к какой теме скорее всего <br>
                относится данный текст и покажет сведения о загруженном тексте
            </p>
            <p class="text2style">
                Примечание: <br>
                Тематическое моделирование — способ построения модели коллекции текстовых документов,
                которая определяет, к каким темам относится каждый из документов.
            </p>
        </body>
    </html>